$first-slide-color: #363a46
$first-slide-bg: #E9E8E4
$first-slide-bg2: #E6E5E1

.first-section
	height: 100vh
	background: $first-slide-bg
	color: $first-slide-color
	position: relative


.hubert-logo 
	width: 100px
	height: 100px
	background: inherit
	outline: 3px solid #212120
	color: #212120
	position: absolute
	z-index: 1
	top: 50px
	left: 50px
	&:before
		width: 100px
		height: 100px
		background: #56BEA2
		content: " "
		position: absolute
		left: 10px
		top: 10px
		z-index: -1

@media (min-width: 0px)
	.display-3
		font-size: 2.0rem
	.hubert-logo

@media (min-width: 576px)
	.display-3
		font-size: 2.5rem

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
	.display-3
		font-size: 3.0rem

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
	.display-3
		font-size: 3.5rem

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
	.display-3
		font-size: 4.5rem