@import url("https://fonts.googleapis.com/css?family=Raleway:700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i");
*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  background-color: #ffffff; }

a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; }

button {
  width: 172px;
  height: 52px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #772f9f;
  background-color: inherit;
  color: white; }

p {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px; }

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px; }

h4, h5, h6 {
  font-family: "Playfair Display";
  font-style: italic; }

h4 {
  font-size: 25px;
  line-height: 31px; }

h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 31px; }

h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 31px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container-fluid {
  width: 100%; }

.row {
  display: flex; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.z-index-1 {
  z-index: 1; }

.z-index-2 {
  z-index: 2; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

nav {
  height: 230px;
  background-color: #ffffff; }
  nav .hamburger {
    display: flex;
    align-items: center; }
    nav .hamburger i {
      margin-left: 75%;
      font-size: 24px;
      color: #5d257c; }
  nav .logo {
    height: 230px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #f1f1f1;
    border-top: 0;
    border-bottom: 0; }
    nav .logo h2 {
      color: #5d257c;
      padding: 6px;
      border: 5px solid #5d257c;
      margin: 0;
      display: inline; }
  nav .search {
    display: flex;
    align-items: center; }
    nav .search i {
      margin-left: 25%;
      font-size: 24px;
      color: #5d257c; }

header {
  background-color: #f0f0f0; }
  header .japanese-girl {
    background: url("images/header.png") 0/cover no-repeat;
    height: 890px; }
  header .slogan {
    height: 50%;
    width: 50%;
    margin-top: 222.5px;
    padding: 0 60px;
    box-sizing: border-box;
    background-color: #5d257c;
    display: block;
    color: white; }
    header .slogan hr {
      height: 1px;
      border: 0;
      background-color: white;
      opacity: 0.2;
      margin: 0;
      padding: 0; }

.purple-bg {
  background-color: #5d257c;
  margin-left: 50%;
  width: 50%;
  height: 890px; }

.articles {
  background-color: #5d257c; }
  .articles .article-img {
    height: 565px;
    background-color: #ffffff; }
    .articles .article-img img {
      height: 565px;
      max-width: 100%;
      object-fit: cover; }
  .articles .article {
    background-color: #ffffff;
    padding: 30px;
    height: 565px; }
    .articles .article h5 {
      display: inline-block; }
    .articles .article .date {
      color: #999999;
      float: right; }
    .articles .article hr {
      background-color: #000000;
      width: 105px;
      height: 4px;
      border: 0;
      display: inline-block; }
    .articles .article button {
      color: inherit;
      border: 3px solid #ededed; }
    .articles .article p {
      color: #999999; }

.content {
  background-color: #f4f4f4;
  text-align: center; }
  .content h1, .content h4, .content h6 {
    margin: 0; }
  .content .container {
    margin: auto; }
  .content .black-wear {
    background: url("images/content.png") 0/cover no-repeat;
    height: 600px;
    display: grid;
    position: relative; }
    .content .black-wear h4 {
      color: #999999; }
    .content .black-wear button {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #000000;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 60px; }
  .content .storehouse {
    background-color: #5d257c;
    padding: 50px 54px;
    height: 300px; }
    .content .storehouse .container {
      color: #ffffff;
      border: 3px solid #873ab1;
      padding: 36px 0; }
      .content .storehouse .container h6 {
        color: #873ab1; }
  .content .jointous {
    background: url("images/content2.png") 0/cover no-repeat;
    display: grid;
    height: 300px; }
  .content .nike-collection {
    color: white;
    background: url("images/content3.png") 0/cover no-repeat;
    height: 600px;
    position: relative; }
    .content .nike-collection .container {
      position: absolute;
      bottom: 30px;
      left: 30px;
      text-align: left; }
      .content .nike-collection .container h1 {
        margin-bottom: 30px; }
  .content .kate-winslet {
    background: url("images/content4.png") right no-repeat;
    height: 600px; }
    .content .kate-winslet i {
      font-size: 50px;
      line-height: 150px;
      text-align: center; }
    .content .kate-winslet .arrow-right {
      width: 150px;
      height: 150px;
      background-color: #ffffff; }
    .content .kate-winslet .arrow-left {
      width: 150px;
      height: 150px;
      background-color: #ffffff; }
  .content .kate-logo {
    height: 300px;
    display: grid;
    position: relative; }
    .content .kate-logo h1 {
      font-size: 104px;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      font-style: italic;
      color: #873ab1;
      margin-bottom: 60px; }
    .content .kate-logo h4 {
      position: absolute;
      display: inline-block;
      top: 70px;
      right: -30px;
      color: #999999; }
    .content .kate-logo button {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #000000;
      position: absolute;
      bottom: 50px;
      left: 50px; }

/*# sourceMappingURL=style.css.map */